@font-face{
    font-family: SeogeUI;
    src: url(/Font/SegoeUI-Roman-VF_web.woff2);
}
body{
    font-family: SeogeUI;
    color: #1A1A1F;
    width: 100%;
    margin: 0;
}

/* mobile response */
header{
    padding: 12px 12px;
}
.container_tablet{
    display: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #ffff;
    border: 2px solid #ffff;
}
header .azure{
    display: flex;
    align-items: center;
    column-gap: 13px;
    margin-right: 23px;
}
.container .signin{
    display: flex;
    width:80px;
    justify-content: flex-end;
    white-space: nowrap;  
}
.container .azure button{
    background-color: transparent;
    border: none;
}
.container .azure button #hamburger{
    width: 20px;
    height: 20px;
}
.container .azure li{
   list-style-type: none; 
   font-size: 18px;
   font-weight: bold;
   width: 47.03px;
   height: 24px;
   line-height: 22px;
}
.container .signin a{
    font-size: 14px;
    font-weight: normal;
    list-style-type: none;
    text-decoration: none;
    color: #1A1A1F;
    padding:0;
}
.container .microsoft_icon img{
    background: transparent;
    border: none;
    width: 18px;
   
}
.microsoft_icon{
    display: flex;
    column-gap: 13px;
}

.microsoft_icon #microsoft-logo{
    width: 32px;
    height: 32px;
}
 #banner .link {
    background-color: #0078d4;
    background-position: 50% 50%;
    background-size: cover;
    padding: 0 14px 0 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66.66px;
    overflow: hidden;
}
 #banner .link a{
    text-decoration: none;
    color: #ffff;
    text-align:center;
    font-size:14px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
#banner {
    padding: 12px, 0;
}

/* Tablet view */
@media screen and (min-width:760px){
.container{
    display: none;
}
#banner{
    display: none;
}
#tablet .container_tablet {
    display: flex;
    column-gap: 30px;
}
#tablet .container_tablet li{
list-style-type: none;
}
#tablet .container_tablet .search{
    background: transparent;
    border: none;
    width: 18px;
   
}
#tablet .container_tablet .dropdown{
    font-size: 13px;
}
.container_tablet .login a{
    font-size: 14px;
    font-weight: normal;
    list-style-type: none;
    text-decoration: none;
    color: #1A1A1F;
    padding:0;
}
}
