*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:bold-font ;
    src: url(/Fonts/TTNorms-Bold.woff2);
}

@font-face {
    font-family:extra-Bold-font ;
    src: url(/Fonts/TTNorms-ExtraBold.woff2);
}
@font-face {
    font-family:medium-font ;
    src: url(/Fonts/TTNorms-Medium.woff2);
}
@font-face {
    font-family:regular-font ;
    src: url(/Fonts/TTNorms-Regular.woff2);
}
body{
    font-family: regular-font;
    margin: 0;
    padding: 0;
}

.banner{
    background-image: url(/Assets/hero_landing_us_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: 50%;
    min-height: 420px;
}
.banner .sign-in{
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0%;
    padding-right: 24px;
    margin-top: 16px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
    align-items: center;
    gap: 14px;
    font-family: Bold-font;
}
.banner .sign-in button.primary{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.04ch;
    text-transform: none;
    color: rgb(255, 255, 255);
    margin: 0px ;
    padding: 0px;
    display: block;
    background: transparent;
    border: none;
    font-family: bold-font;
    padding-right: 2px;
}

.banner .sign-in button.secondary{
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    border-radius: 28px;
    padding: 11px 16px 11px 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0ch;
    text-transform: none;
    text-align: center;
    margin: 0px;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-family: bold-font;
    color: #494949;
}
.banner .text-headings{
    padding-top: 96px;
    padding-bottom: 98px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
}
.banner .text-headings .main-heading{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.04ch;
    font-family: bold-font;
    max-width: 334px;
}
.banner .text-headings .main-heading h1{
    letter-spacing: -0.04ch;
}

.banner .search-address .search-bar .label input{
    border: none;
    border-radius: 18px;
}
.search-bar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 20px;
    padding: 12px 27px 8px 12px;
    gap: 7px;
}
.search-address{
    width: 100%;
    max-width: 315px;
    position: relative;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-bottom: 16px;
    padding-right: 20px;
    padding-left: 20px;
}
.search-address .link{
    text-align: center;   
}
.search-address .link a{
    color: rgb(255, 255, 255);
    font-family: medium-font;
}
.search-address .search-bar .label input::placeholder{
    font-size: 16px;
    line-height: 22px;
    letter-spacing:0ch ;
    font-weight: 500;
    width: 100%;
    padding: 15px 0;
    font-family: medium-font;
}
.search-address .search-bar .label input{
    padding-top: 5px;
    padding-left: 5px;
    transform: translateX(-4px);
}
.search-bar .arrow{
    padding-left: 7px;
}
.tab-search-address{
    display: none;
}



@media screen and (min-width:760px) {
    .search-address{
        display: none;
    }
    .banner .tab-search-address .search-bar .label input{
        border: none;
        border-radius: 18px;
    }
    .search-bar{
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        padding: 10px 10px;
        border-radius: 24px;
        padding: 12px 12px 8px 12px;
        gap: 7px;
        max-width: 600px;
        width: 408px;
    }
    .tab-search-address{
        position: relative;
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 17px;
        padding-bottom: 16px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .tab-search-address .link{
        text-align: center;   
    }
    .tab-search-address .link a{
        color: rgb(255, 255, 255);
        font-family: medium-font;
    }
    .tab-search-address .search-bar .label input::placeholder{
        font-size: 16px;
        line-height: 22px;
        letter-spacing:0ch ;
        font-weight: 500;
        width: 100%;
        padding: 15px 0;
        font-family: medium-font;
    }
    .tab-search-address .search-bar .label input{
        padding-top: 5px;
        padding-left: 5px;
        transform: translateX(-4px);
    }
    .search-bar .arrow{
        padding-left: 7px;
    }
    .search-bar .location{
        display: flex;
        gap: 7px;
        margin-left: -6px;
    }
   
}


    @media screen and (min-width:960px){
        .banner{
            min-height: 580px;
        }
        .banner .text-headings{
            padding-top: 212px;
        }
        .text-headings .logo{
            display: none;
        }
    
        
    
}