body {
    font-family: Arial, Helvetica, sans-serifS;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 0.8em;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    font-size: 12.8px;
    margin:20px 0 80px 0;
    padding: 1px;
}
header span{
    margin: 0 10px;
}
header span:hover{
    cursor: pointer;
    color: red;
}
header img{
    margin: 0 0 0 20px;
}
.logos ul{
    display: flex;
    list-style-type: none;
    column-gap: 42px;
    position: relative;
    top: 4vw;
    left: 2vw;
    /* margin: 0 0 10px 10px; */
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px;
    text-align: center;
}
.logos ul li:hover{
  color: red;
  cursor: pointer;
}
.logos ul li:hover img{
    transform: translateY(-4px);
    color: red;
    cursor: pointer;
  } 

logos ul span:hover{
    transform: translateY(-4px);
}
#search{
    display: flex;
    justify-content: center;
    position: relative;
    top: 3vw;
    column-gap: 20px;
}
#search .search-logo{
    position: relative;
    left: 3vw; 
    top: 1.5vw;
}
#search .search-bar input{
    position: relative;
    border: 2px solid #fc0;
    width: 60em;
    top: 2vw;
    left: 3vw;
    padding: 10px;
    border-radius: 10px;
}
#search .search-bar img{
    position: relative;
    top: 2vw;
    right: 4vw;
    opacity: 0.5;
    padding: 1px;
}
#search .search-bar img:hover{
    cursor: pointer;
    opacity: 1;
}
#search .search-bar button{
    position: relative;
    top: 2vw;
    right: 3vw;
    background-color: #fc0;
    border:2px #fc0 solid;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    padding: 10px;
    width: 90px;
    font-stretch: expanded;
}
#location ul{
    display: flex;
    position: relative;
    list-style-type: none;
    top: 28vw;
    justify-content: center;
    column-gap: 50px;
}

#location ul span:hover{
    cursor: pointer;
    color: red;
}
footer ul{
    list-style-type: none;
    text-decoration: none;
    position: relative;
    top: 30vw;
    display: flex;
    justify-content: center;
    column-gap: 35px;
    color: slategray;
}
footer ul li:hover{
    cursor: pointer;
    color: red;
}
@media screen and (max-width:960px){
    #search{
        overflow: hidden;
    }
    #location{
        position: relative;
        top: 20vw;
    }
    footer{
        position: relative;
        top: 20vw;
    }
    
}