* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myfont;
    src: url('/Font/myfont.woff2') format('woff2');
}

body {
    color: #1A1A1F;
    width: 100%;
    margin: 0;
    font-family: myfont;
}
6